# Dependencies
node_modules/

# Build output
dist/
build/
dist-ssr/

# Environment variables
.env
.env.local
!.env.example

# Prisma
server/prisma/migrations/dev.db

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea
